@import "../../design-tokens/variables.scss";
#header {
header {
  background-color: var(--color-header);
}

nav {
  background-color: var(--color-header);
  min-height: 60px;
  a {
    margin-right: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
  }
}

.nav-link.active {
  font-weight: bold;
}
}