@import "../../design-tokens/variables.scss";
#header {
  header {
  }

  nav {
    min-height: 60px;
    background: var(--color-header);

    a {
      margin-right: 1rem;
      letter-spacing: 1px;
      text-decoration: none;
      color: white;
    }
  }

  .nav-link.active {
    font-weight: bold;
  }
}
